<a href="https://colab.research.google.com/github/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/Colab_TPC_H_Example_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Spark installation on Colab
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
# !tar xf spark-3.0.1-bin-hadoop3.2.tgz
# !pip install -q findspark

!pip install --ignore-installed -q pyspark==3.0.1

     |████████████████████████████████| 204.2MB 74kB/s
     |████████████████████████████████| 204kB 19.3MB/s
  Building wheel for pyspark (setup.py) ... done

In [3]:
import os
from pyspark.sql import SparkSession
from pyspark import SparkContext


import sys
from operator import add

from pyspark import SparkContext
from pyspark import SparkConf,SparkContext
from pyspark.streaming import StreamingContext
import sys
import requests
from operator import add

from pyspark.sql.types import *
from pyspark.sql import functions as func

from pyspark.sql.functions import lit
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from pyspark.sql.functions import array

from pyspark.sql import SQLContext

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()

# conf = SparkConf(appName="TPCH-Example")
# create spark context with the above configuration
# sc = SparkContext(conf=conf)

sqlContext = SQLContext(sc)

In [8]:
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/customer.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/lineitem.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/nation.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/orders.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/region.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/supplier.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/part.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/region.tbl
! wget -q https://github.com/kiat/BigDataAnalytics/blob/master/Spark-Example-TPCH/tpch_tables_scale_0.1/partsupp.tbl

In [10]:
! ls -la

total 1248
drwxr-xr-x 1 root root   4096 Mar 23 21:55 .
drwxr-xr-x 1 root root   4096 Mar 23 21:50 ..
drwxr-xr-x 4 root root   4096 Mar 18 13:36 .config
-rw-r--r-- 1 root root 101174 Mar 23 21:55 customer.tbl
-rw-r--r-- 1 root root 101174 Mar 23 21:55 lineitem.tbl
-rw-r--r-- 1 root root 110140 Mar 23 21:55 nation.tbl
-rw-r--r-- 1 root root 101132 Mar 23 21:55 orders.tbl
-rw-r--r-- 1 root root 101180 Mar 23 21:55 partsupp.tbl
-rw-r--r-- 1 root root 101078 Mar 23 21:55 part.tbl
-rw-r--r-- 1 root root 104745 Mar 23 21:55 region.tbl
-rw-r--r-- 1 root root 104744 Mar 23 21:55 region.tbl.1
drwxr-xr-x 1 root root   4096 Mar 18 13:36 sample_data
-rw-r--r-- 1 root root 423874 Mar 23 21:55 supplier.tbl

In [11]:
lineitems = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("lineitem.tbl")
lineitems.show()

+--------------------+
|     <!DOCTYPE html>|
+--------------------+
|   <html lang="en" >|
|              <head>|
|    <meta charset...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link crossorig...|
|  <link crossorig...|
|    <link crossor...|
|    <link crossor...|
|  <script crossor...|
|    <script cross...|
|    <script cross...|
|  <script crossor...|
|    <script cross...|
|    <script cross...|
|    <script cross...|
|    <script cross...|
|    <script cross...|
+--------------------+
only showing top 20 rows

In [12]:

customer = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("customer.tbl")
orders = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("orders.tbl")
lineitems = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("lineitem.tbl")
part = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("part.tbl")
supplier = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("supplier.tbl")
partsupp = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("partsupp.tbl")
region = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("region.tbl")
nation = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("nation.tbl")

In [13]:
nation.show()

+--------------------+
|     <!DOCTYPE html>|
+--------------------+
|   <html lang="en" >|
|              <head>|
|    <meta charset...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link rel="dns-...|
|  <link crossorig...|
|  <link crossorig...|
|    <link crossor...|
|    <link crossor...|
|  <script crossor...|
|    <script cross...|
|    <script cross...|
|  <script crossor...|
|    <script cross...|
|    <script cross...|
|    <script cross...|
|    <script cross...|
|    <script cross...|
+--------------------+
only showing top 20 rows