In [1]:
rdd = sc.parallelize([("to", 1), ("be", 1), ("or", 1) , ("not", 1),  ("to", 1),  ("be", 1)])

rdd.take(1)

[('to', 1)]

# reduceByKey

In [2]:
rdd3= rdd.reduceByKey(lambda x, y: x + y)

rdd3.collect()

[('to', 2), ('be', 2), ('or', 1), ('not', 1)]

# distinct

In [3]:
sc.parallelize([1, 1, 2, 3]).distinct().collect()

[1, 2, 3]

# join

In [4]:
rdd1 = sc.parallelize( [(1, 'a'), (1, 'b'), (5, 'c'), (2, 'd'), (3, 'e')])
rdd2 = sc.parallelize([(1, 'AA'), (5, 'BB'), (5, 'CC'), (6, 'DD')])

rdd1.join(rdd2).collect()

[(1, ('a', 'AA')), (1, ('b', 'AA')), (5, ('c', 'BB')), (5, ('c', 'CC'))]

# leftOuterJoin

In [5]:
rdd1.leftOuterJoin(rdd2).collect()

[(1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (2, ('d', None)),
 (3, ('e', None)),
 (5, ('c', 'BB')),
 (5, ('c', 'CC'))]

# rightOuterJoin

In [6]:
rdd1.rightOuterJoin(rdd2).collect()

[(1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (5, ('c', 'BB')),
 (5, ('c', 'CC')),
 (6, (None, 'DD'))]

# fullOuterJoin

In [7]:
rdd1.fullOuterJoin(rdd2).collect()

[(1, ('a', 'AA')),
 (1, ('b', 'AA')),
 (2, ('d', None)),
 (3, ('e', None)),
 (5, ('c', 'BB')),
 (5, ('c', 'CC')),
 (6, (None, 'DD'))]

# reduce

In [8]:
sc.parallelize([1, 2, 3, 4, 5]).reduce(lambda x, y: x+y)

15

# mapValues

In [9]:
rdd = sc.parallelize([("a", ["apple", "banana", "lemon"]), ("b", ["grapes"])])
rdd.mapValues(lambda x: len(x)).collect()

[('a', 3), ('b', 1)]

# map

In [10]:
rdd.map(lambda x: (x[0], len(x[1]))).collect()

[('a', 3), ('b', 1)]

# first

In [11]:
sc.parallelize([4, 2, 3]).first()

4

In [12]:
sc.parallelize([(4, 2), (1, 2), (3, 2)]).first()

(4, 2)

# countByValue

In [13]:
sc.parallelize([1, 2, 1, 2, 2], 2).countByValue()

defaultdict(int, {1: 2, 2: 3})

# coalesce

In [14]:
sc.parallelize([1, 2, 3, 4, 5], 3).coalesce(1).collect()

[1, 2, 3, 4, 5]

# glom

In [15]:
sc.parallelize([1, 2, 3, 4, 5], 3).coalesce(2).glom().collect()

[[1], [2, 3, 4, 5]]

In [16]:
 rdd = sc.parallelize([1,2,3,4,5,6,7,8], 4)
 rdd.glom().collect()

[[1, 2], [3, 4], [5, 6], [7, 8]]

# groupByKey

In [17]:
rdd = sc.parallelize([("a", 1), ("b", 1), ("a", 1)])
rdd.groupByKey().collect()

[('b', <pyspark.resultiterable.ResultIterable at 0x7fd12ecefb80>),
 ('a', <pyspark.resultiterable.ResultIterable at 0x7fd12ed2e1f0>)]

In [18]:
rdd = sc.parallelize([("c", 1), ("a", 1), ("b", 1)])
rdd.collect()

[('c', 1), ('a', 1), ('b', 1)]

# sortByKey

In [19]:
rdd.sortByKey().collect()

[('a', 1), ('b', 1), ('c', 1)]

In [20]:
rdd = sc.parallelize([("c1", "p1"), ("c2", "p1"), ("c1", "p1") , ("c2", "p2") , ("c2", "p3")])
rdd.collect()

[('c1', 'p1'), ('c2', 'p1'), ('c1', 'p1'), ('c2', 'p2'), ('c2', 'p3')]

# aggregateByKey

In [21]:
def mySequenceFunction(x, y):
    x.add(y)
    return x


def myCombinerFunction(x, y):
    x.update(y)
    return x

rdd.aggregateByKey(set([]), mySequenceFunction, myCombinerFunction ).collect()

[('c2', {'p1', 'p2', 'p3'}), ('c1', {'p1'})]

# createDataFrame

In [22]:
a = [('Chris', 'Berliner', 5)]
sqlContext.createDataFrame(a, ['drinker', 'beer', 'score']).collect()

[Row(drinker='Chris', beer='Berliner', score=5)]

In [23]:
spark.createDataFrame(a, ['drinker', 'beer', 'score']).collect()

[Row(drinker='Chris', beer='Berliner', score=5)]

In [24]:
likes = [('Chris', 'Bud'), ('Kia', 'Berliner'), ('Matt', 'ARJK')]
frequents = [('Chris', 'Bohene'), ('Kia', 'Little'), ('Oscar', 'Griff')] 

likesName=['Drinker', 'Beer']
frequentsName=['Drinker', 'Bar']

likesDF = sqlContext.createDataFrame(likes, likesName)
frequentsDF = sqlContext.createDataFrame(frequents, frequentsName)

likesDF.show()
frequentsDF.show()

+-------+--------+
|Drinker|    Beer|
+-------+--------+
|  Chris|     Bud|
|    Kia|Berliner|
|   Matt|    ARJK|
+-------+--------+

+-------+------+
|Drinker|   Bar|
+-------+------+
|  Chris|Bohene|
|    Kia|Little|
|  Oscar| Griff|
+-------+------+

# join

In [25]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'right').show()

+-------+--------+-------+------+
|Drinker|    Beer|Drinker|   Bar|
+-------+--------+-------+------+
|  Chris|     Bud|  Chris|Bohene|
|    Kia|Berliner|    Kia|Little|
|   null|    null|  Oscar| Griff|
+-------+--------+-------+------+

# full join

In [26]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'full').show()

+-------+--------+-------+------+
|Drinker|    Beer|Drinker|   Bar|
+-------+--------+-------+------+
|  Chris|     Bud|  Chris|Bohene|
|    Kia|Berliner|    Kia|Little|
|   null|    null|  Oscar| Griff|
|   Matt|    ARJK|   null|  null|
+-------+--------+-------+------+

# left_anti

In [27]:
likesDF.join(frequentsDF, likesDF.Drinker == frequentsDF.Drinker, 'left_anti').show()

+-------+----+
|Drinker|Beer|
+-------+----+
|   Matt|ARJK|
+-------+----+

In [28]:
likesDF.count()

3

In [29]:
df = spark.createDataFrame([('a', 1), ('b', 1), ('b', 1), ('a', 2)], ('id', 'c'))
df.show()
df.distinct().show()

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  b|  1|
|  a|  2|
+---+---+

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  a|  2|
+---+---+

In [30]:
df = spark.createDataFrame([('a', 1), ('b', 1), ('b', 1), ('a', 2)], ('id', 'c'))
df.show()
rdd = df.rdd
print(rdd.collect())

print(df.rdd.map(list).collect())
print(df.rdd.map(tuple).collect())

+---+---+
| id|  c|
+---+---+
|  a|  1|
|  b|  1|
|  b|  1|
|  a|  2|
+---+---+

[Row(id='a', c=1), Row(id='b', c=1), Row(id='b', c=1), Row(id='a', c=2)]
[['a', 1], ['b', 1], ['b', 1], ['a', 2]]
[('a', 1), ('b', 1), ('b', 1), ('a', 2)]

# withColumn

In [31]:
df = spark.createDataFrame([['a'], ['b'], ['b'], ['c']], (['word']))
df.show()

from pyspark.sql.functions import lit
new_df=df.withColumn("COUNT", lit(1))

new_df.show()

+----+
|word|
+----+
|   a|
|   b|
|   b|
|   c|
+----+

+----+-----+
|word|COUNT|
+----+-----+
|   a|    1|
|   b|    1|
|   b|    1|
|   c|    1|
+----+-----+

# groupBy

In [32]:
from pyspark.sql import functions as func
new_df.groupBy("word").agg(func.sum("COUNT")).show()

+----+----------+
|word|sum(COUNT)|
+----+----------+
|   c|         1|
|   b|         2|
|   a|         1|
+----+----------+

In [33]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

l = [('Alice', 25), ('Robert', 12), ('Chris', 45)]
df = sqlContext.createDataFrame(l, ['Name', 'Age'])
df.show()


maturity_udf = udf(lambda age: "Adult" if age >=18 else "Child", StringType())

newdf=df.withColumn("Maturity", maturity_udf(df.Age))
newdf.show()

+------+---+
|  Name|Age|
+------+---+
| Alice| 25|
|Robert| 12|
| Chris| 45|
+------+---+

+------+---+--------+
|  Name|Age|Maturity|
+------+---+--------+
| Alice| 25|   Adult|
|Robert| 12|   Child|
| Chris| 45|   Adult|
+------+---+--------+

In [34]:
df.orderBy("Age", ascending=False).limit(1).show()

+-----+---+
| Name|Age|
+-----+---+
|Chris| 45|
+-----+---+

In [35]:
# generate some data to demonstrate 
# mat = np.arange(100).reshape(10, -1)
import numpy as np
mat = np.random.rand(8,1).reshape(4, -1)

rdd = sc.parallelize(mat)


print(rdd.collect())

rdd.reduce(lambda x, y: np.add(x, y))

[array([0.76846505, 0.05705327]), array([0.40446678, 0.77749   ]), array([0.51566049, 0.15785746]), array([0.69676384, 0.65762969])]

array([2.38535615, 1.65003043])

In [36]:

from pyspark.ml.linalg import Vectors

size=2

data = [(0, Vectors.dense(np.random.rand(size)),),
        (1, Vectors.dense(np.random.rand(size)),),
        (1, Vectors.dense(np.random.rand(size)),),
        (0, Vectors.dense(np.random.rand(size)),)]

df = spark.createDataFrame(data, ["label", "features"])
df.show()

# a = df.rdd.map(lambda x: x[1]).reduce(lambda x,y: x + y )
# print(a)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|    0|[0.15242048972476...|
|    1|[0.14090972448097...|
|    1|[0.29773734150601...|
|    0|[0.88440300545562...|
+-----+--------------------+

In [37]:
a = Vectors.dense(np.round(np.random.rand(size), 2))
b = Vectors.dense(np.round(np.random.rand(size), 2))

print(a)
print(b)


np.add(a , b)

[0.29,0.83]
[0.72,0.43]

array([1.01, 1.26])

In [38]:
np.random.sample([0, 1])

array([], shape=(0, 1), dtype=float64)