Install PySpark

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 29 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 41.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=2ae1bb612d059b5fba9b1f3221693abdfc8505e0531c989a6b7e68c6f42fac70
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Initialize PySpark Session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
# Show the SparkSession variable
spark

Get some data

In [3]:
# Use wget linux command to download the file and store it to the local folder
!wget https://raw.githubusercontent.com/trajanov/BigDataAnalytics/master/data/netflix-subscription.csv

--2022-03-15 20:44:34--  https://raw.githubusercontent.com/trajanov/BigDataAnalytics/master/data/netflix-subscription.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3020 (2.9K) [text/plain]
Saving to: ‘netflix-subscription.csv’

netflix-subscriptio 100%[===================>]   2.95K  --.-KB/s    in 0s

2022-03-15 20:44:34 (40.0 MB/s) - ‘netflix-subscription.csv’ saved [3020/3020]

Create a PySpark DataFrame from the netflix-subscription.csv file

In [4]:
# Create a DataFrame
df = spark.read.csv("netflix-subscription.csv", header=True)
# Show sample records
df.show()

+------------+----------+------------------+------------+----------+--------------------+-----------------------+----------------------+
|Country_Code|   Country|Total_Library_Size|Num_TV_Shows|Num_Movies|Cost_Per_Month_Basic|Cost_Per_Month_Standard|Cost_Per_Month_Premium|
+------------+----------+------------------+------------+----------+--------------------+-----------------------+----------------------+
|          ar| Argentina|              4760|        3154|      1606|                3.74|                    6.3|                  9.26|
|          au| Australia|              6114|        4050|      2064|                7.84|                  12.12|                 16.39|
|          at|   Austria|              5640|        3779|      1861|                9.03|                  14.67|                 20.32|
|          be|   Belgium|              4990|        3374|      1616|               10.16|                  15.24|                 20.32|
|          bo|   Bolivia|              4991|        3155|      1836|                7.99|                  10.99|                 13.99|
|          br|    Brazil|              4972|        3162|      1810|                4.61|                   7.11|                  9.96|
|          bg|  Bulgaria|              6797|        4819|      1978|                9.03|                  11.29|                 13.54|
|          ca|    Canada|              6239|        4311|      1928|                7.91|                  11.87|                 15.03|
|          cl|     Chile|              4994|        3156|      1838|                7.07|                   9.91|                 12.74|
|          co|  Colombia|              4991|        3156|      1835|                4.31|                   6.86|                  9.93|
|          cr|Costa Rica|              4988|        3152|      1836|                8.99|                  12.99|                 15.99|
|          hr|   Croatia|              2274|        1675|       599|                9.03|                  11.29|                 13.54|
|          cz|   Czechia|              7325|        5234|      2091|                8.83|                  11.49|                 14.15|
|          dk|   Denmark|              4558|        2978|      1580|                12.0|                  15.04|                  19.6|
|          ec|   Ecuador|              4992|        3155|      1837|                7.99|                  10.99|                 13.99|
|          ee|   Estonia|              6456|        4486|      1970|                9.03|                  11.29|                 13.54|
|          fi|   Finland|              4045|        2638|      1407|                9.03|                  13.54|                 18.06|
|          fr|    France|              5445|        3604|      1841|               10.16|                  15.24|                 20.32|
|          de|   Germany|              5668|        3814|      1854|                9.03|                  14.67|                 20.32|
|          gi| Gibraltar|              6167|        4079|      2088|                9.03|                  14.67|                 20.32|
+------------+----------+------------------+------------+----------+--------------------+-----------------------+----------------------+
only showing top 20 rows

Simpel example for data processing

In [5]:
# Filter the countires that have Basic Monthly subscruption to Netflix lower than $7
# Sort the results 
# Select only "Country" and "Cost_Per_Month_Basic" columns
# Show the results
df.filter(df.Cost_Per_Month_Basic<7)\
  .sort(df.Cost_Per_Month_Basic.desc())\
  .select("Country","Cost_Per_Month_Basic")\
  .show()

+------------+--------------------+
|     Country|Cost_Per_Month_Basic|
+------------+--------------------+
|      Mexico|                6.62|
|South Africa|                6.26|
|        Peru|                6.11|
|     Ukraine|                5.64|
|      Brazil|                4.61|
|    Colombia|                4.31|
|   Argentina|                3.74|
|       India|                2.64|
|      Turkey|                1.97|
+------------+--------------------+